/* styles.css */
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
header {
    background: #333;
    color: white;
    padding: 50px 0;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.icon {
    width: 40px;
    height: 40px;
    margin: 10px;
}
section {
    margin: 50px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
iframe {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.gambar {
    width: 300px; /* Atur ukuran gambar */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
